/* reset template */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --White: hsl(0, 0%, 100%);
    --LightPink: hsl(275, 100%, 97%);
    --GrayishPurple: hsl(292, 16%, 49%);
    --DarkPurple: hsl(292, 42%, 14%);
    --standardSpacing: 1em;
    --largeSpacing: 2em; 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    min-height: 100vh;
    font-family: "Work Sans", sans-serif;
    background-color: var(--LightPink);
}

a {
    text-decoration: none;
    
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

p {
    text-wrap: pretty; 
    max-width: 75ch;
    margin-bottom: 2rem;
    line-height: 1.5rem;
}

img,
picture,
svg,
video {
    max-width: 100%;
    display: block; 
    height: auto; 
}

button,
input,
form {
font: inherit;
}

/* main container styling and background */

.background {
    background-image: url(../images/background-pattern-desktop.svg); 
    height: 40vh;
    background-size: cover;
    background-position: fill;
    min-width: 100vw;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    margin: 0 auto;
    min-width: 40vw;
    background: white;
    border-radius: 20px;
    height: fit-content;
    padding: var(--largeSpacing);
    transition: .2s ease-in-out;
    box-shadow: 0 0 20px #2f153360;
}

.container h1, h2 {
    color: var(--DarkPurple);
}

.faqText {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: var(--standardSpacing);
}

.faqText h1 {
    font-size: 3em;
    font-weight: 700;
    margin: 0 1rem;
}

.accordion h2 {
    font-weight: 600;
    transition: .2s ease-in-out;
    font-size: 1.2rem;
}

.accordion h2:hover {
    color: rgb(221, 13, 221);
    cursor: pointer;
}

.accordionTitle {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0;
    border-bottom: 1px solid  hsla(293, 16%, 49%, 0.459);
}

.accordionContent {
    color: var(--GrayishPurple);
    margin-top: var(--standardSpacing);
    max-width: 40vw;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease-in;
}

.accordionTitle.active .accordionContent {
    max-height: 500px;
}